<div class = "tyuo">
<%= form_with(model: @task, local: true) do |form| %>
    <% if @task.errors.any? %>
    <div id="error_explanation">
        <h2><%= @task.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>
    <div class="task_title">
      <%= form.label :やること %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="task_rink">
    <%= form.label :リンク %>
    <%= form.text_field :rink, class: "form-control" %>
    </div>
    <div class="task_content">
      <%= form.label :詳細 %>
      <%= form.text_area :content, class: "form-control" %>
    </div>
    <div class="task_deadline">
    <%= form.label :期限 %>
    <%= form.date_field :deadline, class: "form-control" %>
    </div>
    <div class="task_importance">
    <%= form.label :重要度 %>
    <%= form.select :importance, ['高', '中', '低'] %>
    </div>
    <div class="task_image">
    <%= form.label :写真 %>
    <%= form.file_field :image, class:"btn btn-secondary" %>
    </div>
    <div class="field">
    <%= form.label :タグ %>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
    </div>
    <%= form.submit "作成", class:"btn btn-primary" %>
<% end %>
<%= link_to "一覧画面にもどる", tasks_path,class:"btn btn-secondary" %>
</div>