<h1>やること一覧</h1>
<% require "date" %>
<h4>今日は<%= Date.today %>です！</h4>


<div class = "tyuo">

  <%= form_with url: tasks_path, method: :get, local: true do |form| %>
    <%= form.label :title, "やること" %>
    <%= form.text_field :title, class: "form-control" %>
    <%= form.label :importance, "重要度で検索" %>
    <%= form.select :importance, ["高","中","低"],{include_blank:"選択"}, { id: "search_status", class: "form-control" } %>

    <%= form.hidden_field :search, value:"true" %>
    <%= form.submit name="検索する", class:"btn btn-success" %>
  <% end %>

  <%= link_to "期限順▼", tasks_path(sort_deadline: "true"), class: "btn btn-secondary btnset1" %>
  <%= link_to "重要度順▼", tasks_path(sort_importance: "true"), class: "btn btn-secondary btnset2" %>

  <table class="table table-bordered ">
    <tr>
      <th class = "task-center">タスク</th>
      <th class = "task-center">重要度</th>
      <th class = "task-center">期限</th>
      <th></th>
      <th></th>
    </tr>
  <% @tasks.each do |task| %>
    <tr>
      <% if task.user_id == current_user.id %>
        <td><%= task.title %></td>
        <td class = "task-center"><%= task.importance %></td>
        <td class = "task-center"><%= task.deadline %></td>
        <td><%= link_to '詳細', task_path(task.id), class:"btn btn-secondary"%></td>
        <td class = "size"><%= link_to fa_icon("trash"), task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
        <td>
        <% task.labels.each do |label| %>
          <%= label.name %>
        <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </table>
  <%= link_to 'やることを追加する', new_task_path, class:"btn btn-primary" %>
<div>