<h1>詳細画面</h1>
<div class="border border-dark rounded tyuo-show">
<div class = "tyuo-show2">
    <p>タイトル: <%= @task.title %></p>
    <% unless @task.rink.blank? %>
        <p>リンク: <%= @task.rink %></p>
    <% end %>
    <p>期限: <%= @task.deadline %></p>
    <p>重要度: <%= @task.importance %></p>
    <% unless @task.content.blank? %>
        <p>内容: <%= @task.content %></p>
    <% end %>
    <% unless @task.image.blank? %>
        <p>写真: <%= image_tag @task.image.to_s %></p>
    <% end %>
    <div class = "show-right">
    <%= link_to fa_icon("edit"), edit_task_path(@task.id) %>
    <%= link_to fa_icon("trash"), task_path(@task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %>
    </div>
</div>
</div>